@import "./utils/variables";
@import "./utils/body";
@import "./utils/container";
@import "./utils/img";
@import "./utils/section";

@import "./base/normalize";

@import "./components/page-header";
@import "./components/logo";
@import "./components/navigation";
@import "./components/header-contacts";
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--primary-text-color);
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}